<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Sistema Projeto Ada</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header th:fragment="header(pageTitle)" class="page-header">
        <div class="container">
            <h1 th:text="${pageTitle}">Sistema Projeto Ada</h1>
        </div>
    </header>
</body>
</html>
